.header   
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center 
    height: 100vh
    width: 100vw

    &__content
        display: flex
        flex-direction: column
        align-items: center
        padding-bottom: 3rem

        &_directcookies
            font-size: 1.3rem
            padding-bottom: 1rem

        &_upgrade
            background-color: green
            border: none
            color: white
            padding: 15px   32px
            font-size: 1.2rem
            border-radius: .5rem
            

    &__cookie
        position: relative
        width: 30%
        height: 35%

        &_imgcookie
            width: 100%

